@import '../../styles/utilities/mixin';
@import '../../styles/utilities/variables';

.wrapStoreBody {
  width: 100%;
  margin-bottom: 6.5rem;
  .storeInfo {
    @include flex(normal, center);
    flex-direction: column;
    .title {
      @include text-style(lg);
      margin-top: 1rem;
      font-weight: 700;
    }
    .score {
      display: flex;
      margin: 1rem 0;
      span {
        margin-left: 0.4rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 2.3rem;
      }
    }
    span {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
    }
    .contact {
      display: flex;
      width: 100%;
      margin-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #eee;
      li {
        @include flex(center, normal);
        width: 33.3%;
        cursor: pointer;
        .icon {
          position: absolute;
          font-size: 1.5rem;
          top: 0.1rem;
          left: -2rem;
        }
        span {
          @include text-style(sm, #222);
          position: relative;
          font-weight: 400;
        }
      }
    }
  }
  .deliveryInfo {
    padding: 1rem 1.5rem 0;
    border-bottom: 0.7rem solid #eee;
    li {
      @include text-style(sm, #000);
      position: relative;
      margin-bottom: 1rem;
      &:first-child {
        margin-top: 1rem;
      }
      span {
        position: absolute;
        top: 0;
        left: 10rem;
        button {
          width: 5rem;
          background-color: #eee;
          border: 0.1rem solid #eee;
          font-size: 1rem;
          cursor: pointer;
          border-radius: 2rem;
        }
      }
    }
  }
  .wrapBottom {
    width: 100%;
    // margin-top: 1rem;
    .tapMenu {
      position: sticky;
      display: flex;
      width: 100%;
      height: 5rem;
      z-index: 10;
      top: 6.4rem;
      li {
        width: 33.3%;
        color: #888;
        background-color: #fff;
        border-bottom: 0.2rem solid #eee;
        font-size: 1.3rem;
        text-align: center;
        cursor: pointer;
        cursor: pointer;
        line-height: 5rem;
        font-weight: 500;
      }
      .selected {
        color: #000;
        border: 0.2rem solid #eee;
        border-top: 0.3rem solid #000;
        border-bottom: 0.2rem solid #fff;
      }
    }
    .content {
    }
  }
}
