@import '../../styles/utilities/mixin';
@import '../../styles/utilities/variables';

.information {
  padding: 2.5rem 0;

  .section {
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    border-bottom: 0.7rem solid #eee;
    &:last-child {
      border-bottom: none;
    }
    .title {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
    }
    .intro {
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }
    ul {
      li {
        @include text-style(sm, #000);
        position: relative;
        margin-bottom: 1rem;

        span {
          position: absolute;
          top: 0;
          left: 10rem;
          button {
            width: 5rem;
            background-color: #eee;
            border: 0.1rem solid #eee;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 2rem;
          }
        }
      }
    }
  }
}
