@import '../../styles/utilities/_mixin.scss';
@import '../../styles/utilities/_variables.scss';

.main {
  width: 100%;
  padding: 0 20px;
  padding-top: 14px;
  padding-bottom: 32px;
  color: #fff;
  background-color: $pointColor;
  border-radius: 0% 0% 10% 10% / 20% 20% 20% 20%;

  div {
    display: flex;
    margin-bottom: 1.2rem;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    span {
      font-size: 1.8rem;
      text-align: center;
      font-weight: 600;
    }
  }

  input {
    width: 100%;
    height: 32px;
    padding: 0.8rem 0.4rem;
    font-size: 1.6rem;
  }
}

.mainwrapper {
  button {
    background-color: $pointColor;
    color: #fff;
  }
  margin-top: 6rem;
  padding: 0 1.2rem;
  .orderwrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    button {
      height: 120px;
    }
  }

  .foodranking {
    margin-top: 5rem;
    button {
      margin: 0 auto;
    }

    button:last-child {
      margin-top: 1.6rem;
    }
  }
}
