@import '../../styles/utilities/mixin';
@import '../../styles/utilities/variables';

.WrapStoreList {
  display: flex;
  width: 100%;
  flex-direction: column;
  .wrapCategoryBar {
    position: fixed;
    width: 100%;
    background-color: $pointColor;
    @include flex(center, normal);
    .categoryBar {
      width: 100%;
      max-width: 48rem;
      height: 5rem;
      @include flex(center, center);
      li {
        @include flex(center, center);
        width: 25%;
        span {
          padding-bottom: 0.4rem;
          color: #fff;
          border-bottom: 3px solid #fff;
          font-size: 2rem;
        }
      }
    }
  }
  .sortingBar {
    @include flex(center, normal);
    position: fixed;
    width: 100%;
    margin: 6rem 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #d2cfcfa5;
    li {
      margin: 0 1rem;
      padding: 0.5rem;
      color: #222;
      border: 2px solid grey;
      font-size: 1.4rem;
      border-radius: 1.5rem;
    }
    .selected {
      color: $pointColor;
      border: 2px solid $pointColor;
    }
  }
}
