@import '../../styles/utilities/mixin';
@import '../../styles/utilities/variables';

.WrapStoreList {
  display: flex;
  width: 100vw;
  flex-direction: column;
  margin-top: -1rem;
  .wrapCategoryBar {
    position: fixed;
    width: 100%;
    background-color: $pointColor;
    z-index: 10;
    .categoryBar {
      display: flex;
      height: 5rem;
      flex-wrap: nowrap;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        @include flex(center, center);
        width: 23%;
        flex: 0 0 auto;
        span {
          padding-bottom: 0.4rem;
          color: #fff;
          font-size: 2rem;
          cursor: pointer;
          &:hover {
            border-bottom: 3px solid #fff;
          }
        }
        .selected {
          border-bottom: 3px solid #fff;
        }
      }
    }
  }
  .sortingBar {
    @include flex(center, normal);
    position: fixed;
    width: 100%;
    margin: 5.1rem 0 1rem;
    padding: 1rem 0;
    background-color: #fff;
    border-bottom: 2px solid #d2cfcfa5;
    z-index: 10;
    li {
      margin: 0 1rem;
      padding: 0.5rem;
      color: grey;
      border: 2px solid #8280803a;
      font-size: 1.4rem;
      cursor: pointer;
      border-radius: 1.5rem;
      &:hover {
        color: #fff;
        background-color: $pointColor;
        border: 2px solid $pointColor;
        font-weight: 500;
      }
    }
    .selected {
      color: #fff;
      background-color: $pointColor;
      border: 2px solid $pointColor;
      font-weight: 500;
    }
  }
  .wrapList {
    margin-top: 11rem;
  }
}
